target
dist
pkg
comparisons
blob.rs
**/projects/**/Cargo.lock
**/examples/**/Cargo.lock
**/benchmarks/**/Cargo.lock
**/*.rs.bk
.DS_Store
.idea
.direnv
.envrc
node_modules
.vscode
vendor
hash.txt


debug/
target/


Cargo.lock

**/*.rs.bk

*.pdb

config.json